@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="robot.png">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://i.pinimg.com/originals/0f/f3/10/0ff310f8a04cae646431dcfd7c0b6954.jpg");
            color:white;
            padding: 25px;
            background-position: center;
            background-size: cover;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3>Hangar18</h3>
</body>
</html>
